{% extends "base.html" %}
{% block content %}
    <br/>
    <img alt="Quizzly logo" class="center" src="{{ url_for('static', filename='images/quizzly logo.png')}}" width="80">
    <h2 style="margin: 2px" align="center">Please select a Quiz option below</h2>
    <br/>
    <div class="container" align="center">
    <div method="POST">
        {{ form.hidden_tag() }}
        {{ form.topic.label}}
        {{ form.topic()}}
        {{ form.submit(class_="other-button-custom") }}
    </div>
    </div>

    </div>
{% endblock %}