{% extends "base.html" %}
{% block content %}
    <br/>
    <h6 align="center" class="site-header"> Welcome to </h6>
    <h1 align="center" class="site-header"> Quizzly </h1>
    <br>
    <h3 align="center" class="site-header">Choose your quiz type</h3>
    <nav align="center"><a href="{{ url_for('student.question')}}">Start your quiz</a></nav>
    <br/>
    <img class="center" src="{{ url_for('static', filename='images/quizzly logo.png')}}" width="175">
    <div class="btn-group-vertical" style="display: flex; align-items: center">
        <button class="other-button-custom">
            Log In/Register
        </button>
    </div>
{% endblock %}