{% extends "base.html" %}
{% block content %}
    <br/>
    <h6 align="center" class="site-header"> Welcome to </h6>
    <h1 align="center" class="site-header"> Quizzly </h1>
    <br>
    <img alt="Quizzly logo" class="center" src="{{ url_for('static', filename='images/quizzly logo.png')}}" width="110">
    <br>
    <h4 align="center" class="site-header">Choose your user type</h4>
    <div class="btn-group-vertical" style="display: flex; align-items: center">
        <nav>
            <a href="{{ url_for('student.student_landing')}}">
                <button class="home-button-custom">Student</button>
            </a>
        </nav>
        <nav>
            <a href="{{ url_for('teacher.teacher_landing')}}">
                <button class="home-button-custom">Teacher</button>
            </a>
        </nav>
    </div>
{% endblock %}