{%  extends "base.html" %}

{% block content%}
    <br/>
{#    need to replace with dynamic question numbering#}
    <div class="circle" align="center" style="margin-bottom: 10px">
        <h6 style="margin-top: 20px; font-size: 20px">{{question_index+1}}/{{n_questions}}</h6>
    </div>
    <h5 align="center">Please complete the quiz by choosing one of the following multiple choice answers for each question</h5>
    <br>
    <h2 align="center">{{question}}</h2>
    <br/>
    {% if figure_png is defined %}
        <div class="container", align="center">
        <img src="{{ figure_png }}"/>
        </div>
    {% endif %}
    <br/>
    <div class="btn-group-vertical" style="display: flex; align-items: center">
        {% for answer in answers %}
            <form method="POST">
            <input type="hidden", name="answer" value="{{ loop.index0 }}">
            <input type="hidden", name="question_id" value="{{ question_id }}">
            <button class="quiz-button-custom">{{answer}}</button>
            </form>
        {% endfor %}
    </div>
{% endblock %}