{% extends "base.html" %}
{% block content %}
    <br/>
    <img alt="Quizzly logo" class="center" src="{{ url_for('static', filename='images/quizzly logo.png')}}" width="80">
    <h2 style="margin: 2px" align="center">Please enter the Quiz ID and your username below</h2>
    <div class="container" align="center">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row" align="center" style="width: 40%">
        {{ form.name.label}}
        {{ form.name()}}
        </div>
        <div class="row" align="center" style="width: 40%">
        {{ form.quiz_id.label}}
        {{ form.quiz_id()}}
        </div>
        <nav>
            <a href="{{ url_for('student.student_quiz_lobby') }}">
                {{ form.submit(class_="other-button-custom") }}
            </a>
        </nav>
    </form>
    {%  for mess  in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Quiz ID not found!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    {{mess}}
    {%  endfor %}
    </div>

    </div>
{% endblock %}