{% extends "base.html" %}
{% block content %}
    <br/>
    <h2 style="margin: 2px" align="center">Your Quiz will begin shortly</h2>
    <br/>
    <div style="position: absolute; left: 50%;">
        <img alt="Quizzly logo" class="center" src="{{ url_for('static', filename='images/quizzly logo.png')}}" width="80" style="position: relative; left: -50%;">
        <div class="loader" style="position: relative; left: -50%; margin-top: -93px"></div>
    </div>
{#    <img alt="Quizzly logo" class="center" src="{{ url_for('static', filename='images/quizzly logo.png')}}" width="80" style="position: absolute; left: -50%;">#}
{#    <div class="loader" align="center" style="position: absolute; left: -50%;"></div>#}
{% endblock %}