{% extends "base.html" %}
{% block content %}
    <br/>
    <img alt="Quizzly logo" class="center" src="{{ url_for('static', filename='images/quizzly logo.png')}}" width="80">
    <h2 align="center">Please enter the Quiz ID and your username below</h2>
    <div class="container" align="center">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row" align="center">
        {{ form.name.label}}
        {{ form.name()}}
        </div>
        <div class="row" align="center">
        {{ form.quiz_id.label}}
        {{ form.quiz_id()}}
        </div>
        {{ form.submit() }}
    </div>
    </form>
{% endblock %}