body {
    background-color: #e3eaf6
}

.site-header {
  color: #062d81;
}

.quiz-button-custom {
    background-color: #1240ea;
    color: #f7f6f8;
    padding: 10px;
    height: 50px;
    width: 200px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
    }

/* Add a background color on hover */
.quiz-button-custom button:hover {
  background-color: #0536ea;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.other-button-custom {
    background-color: #242edd;
    color: #f7f6f8;
    padding: 10px;
    height: 40px;
    width: 140px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin:5px;
    text-align: center;
    }