{% extends "base.html" %}
{% block content %}
    <br/>
    <h6 align="center" class="site-header"> Welcome to </h6>
    <h1 align="center" class="site-header"> Quizzly </h1>
    <br>
    <img alt="Quizzly logo" class="center" src="{{ url_for('static', filename='images/quizzly logo.png')}}" width="110">
    <br>
    <h3 align="center" class="site-header">Choose your user type</h3>
    <div class="btn-group-vertical" style="display: flex; align-items: center">
        <nav>
            <a href="{{ url_for('studentlogin'}}">
                <button class="">Student</button>
            </a>
        </nav>
        <button class="other-button-custom">{{ url_for() }}</button>
        <button class="other-button-custom">Teacher</button>
    </div>
{% endblock %}