{% extends "base.html" %}
{% block content %}
    <br>
    <h6 align="center" class="site-header"> Welcome to </h6>
    <h1 align="center" class="site-header"> Quizzly </h1>
    <br>
    <h3 align="center" class="site-header">Choose your quiz type</h3>
    <nav align="center"><a href="{{ url_for('addition_quiz')}}">Addition</a></nav>
    <nav align="center"><a href="{{ url_for('subtraction_quiz')}}">Subtraction</a></nav>
    <br/>
    <img class="center" src="{{ url_for('static', filename='images/quizzly logo.png')}}" width="200">
{% endblock %}